.content {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 1rem;
  }

  .email-manager-container {
    width: 600px;

    .prevent-dupes-email-manager {
      --duplicate-message-color: orange;
      --tag-background-color: teal;
      --tag-invalid-color: black;
      --tag-invalid-background-color: orange;
      --tag-invalid-border: 0 solid orange;
      --email-address-max-width: 75px;
      --tag-font-size: 0.6rem;
      --tag-padding: 0 0 0 2px;
      --delete-tag-button-border-radius: 50%;
      --delete-tag-button-background-color: white;
      --delete-tag-button-color: black;
      --delete-tag-button-padding: 4px;
      --delete-tag-button-border-width: 1px;
      --show-more-link-color: steelblue;
    }
  }
}
