<div class="email-manager-container flex-column">
  <input
    #inputElement
    *ngIf="!displayOnly"
    placeholder="Add an email address" />
  <div *ngIf="preventDuplicates" class="dupe-message">{{dupeMsg}}</div>
  <ng-container
    [ngTemplateOutlet]="addressesTemplate"
    [ngTemplateOutletContext]="showInvalidContainer
      ? validAddresses
      : displayAddresses">
  </ng-container>
  <ng-container
    *ngIf="showInvalidContainer"
    [ngTemplateOutlet]="addressesTemplate"
    [ngTemplateOutletContext]="invalidAddresses">
  </ng-container>
</div>

<!-- Since all lists should show the same UI just use a template -->
<ng-template #addressesTemplate let-list="addresses" let-label="label" let-showMore="showMore">
  <div *ngIf="list.length" class="flex-column">
    <div *ngIf="label" class="container-label">{{label}}</div>
    <div class="address-container flex-row">
      <div
        *ngFor="let address of list"
        class="address-tag flex-row"
        [class.invalid]="address.invalid"
        [title]="address.email"
        (click)="onEditEmail(address)">
        <span class="email-address">{{address.email}}</span>
        <button
          *ngIf="!displayOnly"
          class="btn delete-button"
          (click)="onDeleteAddress($event, address)">
          X
        </button>
      </div>
    </div>
    <a *ngIf="showMore" class="show-more-link" (click)="showAllAddresses()">
      <span *ngIf="showingAllAddresses">Show Less...</span>
      <span *ngIf="!showingAllAddresses">Show More...</span>
    </a>
  </div>
</ng-template>
