.email-manager-container {
  display: flex;
  width: 100%;

  input {
    margin-top: 1rem;
    width: 100%;
  }

  .dupe-message {
    color: var(--duplicate-message-color, red);
    margin-bottom: 1rem;
  }

  .address-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .address-tag {
      align-items: center;
      justify-content: center;
      margin-right: var(--tag-margin-right, 0.5rem);
      border-radius: 500px;
      border: 1px solid var(--tag-border-color, darkgreen);
      padding: var(--tag-padding, 5px);
      background-color: var(--tag-background-color, darkgreen);
      color: var(--tag-color, white);
      margin-bottom: 0.5rem;
      font-size: var(--tag-font-size, 0.8rem);

      &.invalid {
        background-color: var(--tag-invalid-background-color, red);
        color: var(--tag-invalid-color, white);
        border: 1px solid var(--tag-invalid-border-color, red);
      }

      .email-address {}

      .delete-button {
        margin-left: var(--delete-button-margin-left, 10px);
        padding: 0;
        background-color: transparent;
        border-width: 0;
        color: var(--delete-tag-button-color, inherit);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .container-label {
    margin-bottom: var(--container-label-bottom-margin, 5px);
    font-weight: var(--container-label-font-weight, 400);
    padding: var(--container-label-padding, 0);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
